<%- include('_partials/base/doctype'); %>

<html class="<%- global.html.classes %>" <% for(var attr in global.html.attributes){ -%>
		<%- (attr + '=\"' + global.html.attributes[ attr ] + '\"') -%>
		<% } -%>>

<%- include('_partials/base/head'); %>



<body class="<%- global.body.classes %>" <%- global.body.attributes %>>

<%- include('_partials/base/pre-scripts'); %>

<%- include('_partials/base/header'); %>



<div role="main" class="<%- global.main.classes %>" <%- global.main.attributes %>>



	<%#- data( context ) %>

	<!---->


</div>



<%- include('_partials/base/footer'); %>

<%- include('_partials/base/post-scripts'); %>

</body>

</html>


