<%- include('_partials/base/doctype'); %>

<html class="<%- global.html.classes %>" <%- global.html.attributes %>>

<%- include('_partials/base/head'); %>


<body class="<%- global.body.classes %>" <%- global.body.attributes %>>



<div role="main" class="<%- global.main.classes %>" <%- global.main.attributes %>>


	<%- include('_partials/base/debug/pagesList'); %>


</div>



</body>

</html>


